.title-search {
  display: flex;
  flex-direction: column;
}

.external-movie {
  list-style: none;
  margin: 20px;
  width: 15vw;
}

form {
  margin: 20px;
}
h1 {
  margin: 20px;
}
.my-image {
  width: 20%;
}
